@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,400&display=swap');

:root{
    --blue1:#0066cc;
    --blue2:#3399cc;
    --light:#ffffff80;
    --black1:#1A1B1F;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Containers and Navs*/
body{
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    height: auto;
}

.container--modifier{
    width: 60%;
}

.preview-container
{
    width: 60%;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
    height: auto;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--light) 0%, var(--light) 100%);
}
.herov2
{
    width: 100%;
}

.nav_hero{
    color: rgb(0, 0, 0);
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.nav_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.logo_name{
    width: 300px;
    height: 300px;
}

.link-menu-items{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;
}

.link--active{
    color: var(--blue1);
    font-weight: 700;
}

.hero_main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0;
    
}
.bx-user-circle
{
    width: inherit;
    height: inherit;
    color: #000;
    font-size: 20px;
}

.mockup{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.title{
    font-size: 56px;
    font-weight: 400;
    color: var(--blue2);
}

.title--active{
    color: var(--blue1);
    font-weight: 700;
}
.copy{
    font-size: 24px;
    color: gray;
    text-shadow: var(--shadow)  var(--color_shadow);
    margin: 15px 0;
}

.copy_active{
    font-weight: 700;
}

.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, var(--blue1) 0%, var(--blue2) 100%);
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius: 6px;
}

/* cards and services */

.services{
    background: #fafafa;
}

.subtitle{
    font-size: 42px;
}

.subtitle--modifier{
    text-align: center;
    margin-bottom: 16px;
}

.copy_section{
    color: var(--black1);
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 60px;
}

.copy_section--modifier{
    text-align: center;
    margin-bottom: 32px;
}

.container-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.card{
    width: 30%;
    padding: 30px 30px;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 0%, var(--light) 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.cardv2{
    width: 22%;
    padding: 30px 30px;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 0%, var(--light) 100%);
    border-radius: 10px;
    position: relative;
    text-align: center;
    margin-bottom: 35px;
    box-shadow: 0 0 6px var(--color_shadow);
}

.card-preview {
    float: right;
    width: 28%;
    height: 500px;
    padding: 30px 30px;
    overflow: hidden;
    background: linear-gradient(180deg, #ffffff 0%, var(--light) 100%);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 35px;
    box-shadow: 0 0 6px var(--color_shadow);

}

.card_img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.img-fluid
{
    max-width: 66%;
    height: auto;
}
.card_text{
    text-align: center;
    width: 90%;
    margin:0 auto;
}
.card_textv2
{
    text-align: left;
    width: 90%;
    margin:0 auto; 
}

.card_list{
    color: var(--blue2);
    font-weight: 900;
    margin: 25px 0 12px ;
    font-size: 18px;
}

.card_listv2{
    color: var(--blue2);
    font-weight: 900;
    margin: 25px 0 12px ;
    font-size: 30px;
}

.precio_auto{
    color: #000;
    font-weight: 800;
    margin: 0 0 0 ;
    font-size: 25px;
}


.card_title{
    font-size: 30px;
    color: #000;
    margin-bottom: 8px;
}

.card_copy{
    color: var(--gray2);
    margin-bottom: 16px;
}
.descrip_card{
    color: var(--gray2);
    margin-bottom: 16px;
}

.card_button{
    display: block;
    background: linear-gradient(180deg, var(--blue1) 0%, var(--blue2) 100%);
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    color: #fafafa;
    font-weight: 700;
    text-align: center;
    padding: 12px 0;
    margin-top: 70px;
}


/* Check index experience */

.check{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.check_item{
    width: 30%;
    padding-right: 10px;
    display: flex;
    border-right: 2px solid var(--black1);
}

.bx-check{
    background: linear-gradient(180deg, #1A1B1F 0%, #1A1B1F 100%);
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    font-size: 40px;
}


.check_number{
    font-weight: 700;
}

.check_copy{
    font-weight: 300;
}

/* Footer */

.footer{
    background: #fafafa;
}

.footer_caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.footer_copy{

    color: var(--black1);
    display: flex;
    flex-wrap: wrap;
}

.copyright{
    text-align: center;
}

.descrip_card
{
    margin-bottom: 30px;
}



/* Responsive */

@media screen and (max-width:1400px){
    .mockup{
        width: 600px;
        height: auto;
    }

    .title{
        font-size: 50px;
    }

    .copy{
        font-size: 22px;
    }

    .cta{
        padding: 15px 22px;
    }

    .container-cards{
        justify-content: space-evenly;
    }

    .services .card 
    {
        width: 45%;
    }

    .background{
        width: 52%;
    }

    .card{
        width: 42%;
    }

    .check_item{
        width: 45%;
        margin-bottom: 35px;
    }

    .card-preview {
        float: center;
        width: 100%;
        height: 500px;
        padding: 30px 30px;
        margin-top: 20px;
    }
    
    .img-fluid
    {
    max-width: 100%;
    height: auto;
    }
}   

@media screen and (max-width:768px){
    main .container,
    footer .container{
        padding: 60px 0;
    }

    .nav_container{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .nav_hero{
        height: auto;
    }

    .logo{
        padding: 15px 0 ;
        text-align: center;
    }

    .links{
        padding-bottom: 10px;
        text-align: center;
    }

    .link-menu-items{
        padding: 7px 10px;
    }


    .hero_main
    {
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: 70px;
        height: auto;
        padding: 30px 0;
    }

    .hero_textos{
        width: 100%;
        text-align: center;
    }

    .mockup{
        width: 60%;
        margin-bottom: 20px;
    }

    .title{
        font-size: 35px;
    }

    .copy{
        font-size: 20px;
    }

    .subtitle{
        font-size: 35px;
        text-align: center;
    }

    .copy_section{
        font-size: 20px;
        text-align: center;
    }

    .services .card 
    {
        width: 80%;
    }

    .cars .cardv2
    {
        width: 80%;
    }
    
    .card-preview {
        float: center;
        width: 100%;
        height: 500px;
        padding: 30px 30px;
        margin-top: 20px;
    }

    .img-fluid
    {
        max-width: 100%;
        height: auto;
    }

    .card .cardv2 
    {
        margin-bottom: 40px;
        width: 65%;
    }

    .card_title{
        font-size: 20px;
    }

    .precio_auto
    {
        font-size: 25px;
    }
    .card_listv2
    {
        font-size: 20px;
    }
    
    

    .card_button .precio_auto
    {
        width: 40%;
    }

    .background{
        width: 65%;
        margin-bottom: 40px; 
    }

    .background_copy{
        display: none;
    }

    .container--modifier{
        width: 80%;
    }

}

@media screen and (max-width:500px)
{
    .mockup
    {
        width: 80%;
        margin-bottom: 15px;
    }

    .services .card .cardv2 
    {
        width: 95%;
    }

    .card .cardv2 
    {
        width: 95%;
    }

    .background
    {
        width: 95%;
    }

    
    .container--modifier
    {
        width: 90%;
    }

    .card_title{
        font-size: 20px;
    }

    .precio_auto
    {
        font-size: 25px;
    }
    .card_listv2
    {
        font-size: 20px;
    }
    
    .img-fluid
    {
        max-width: 100%;
        height: auto;
    }

    .check_item
    {
        width: 100%;
        border: none;
        padding: none;
        justify-content: center;
    }
    /*CSS de ventana emergente*/
    .window-notice {
        background: rgba(33, 41, 52, .85);
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        display: flex;
        position: fixed;
        z-index: 999;
    }
    .window-notice .content {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 600px;
        min-width: 320px !important;
        overflow: hidden;
        position: relative;
        width: 100%;
        padding: 2rem;
        font-size: 1.3rem;
    }
}